<!-- CreditCard Custom Directive and Tooltip -->
<div>
  <label>
    Credit Card Number:
    <input
      name="credit-card"
      type="text"
      placeholder="Enter your 16-digit card number"
      credit-card
    />
  </label>
  <label tooltip="Enter your 3 digit CVV" #myTooltip="tooltip">
    Enter your security code:
    <span (mouseover)="myTooltip.show()" (mouseout)="myTooltip.hide()">
      (?)
    </span>
    <input type="text" />
  </label>
</div>
<br />
<!-- Custom Filesize pipe -->
<div>
  <div *ngFor="let file of mapped">
    <p>{{ file.name }}</p>
    <p>{{ file.size }}</p>
  </div>
</div>
<!-- Reactive Forms Lesson -->
<br />
<hr />
<div>
  <stock-inventory></stock-inventory>
</div>
