<div>
  <button (click)="destroyComponent()">Destroy</button>
  <button (click)="moveComponent()">Move</button>
  <ng-container
    [ngTemplateOutlet]="tmpl"
    [ngTemplateOutletContext]="ctx"
  ></ng-container>
  <br />
  <ng-template #tmpl let-name let-location="location">
    {{ name }} : {{ location }}
  </ng-template>
</div>
<div>
  <label>
    Credit Card Number:
    <input
      name="credit-card"
      type="text"
      placeholder="Enter your 16-digit card number"
    />
  </label>
</div>
